{% extends 'base.html' %}


{% block content %}
<p>
   
    {% if zipcode %}
    <h1>Zipcode</h1> {{zipcode}}
        {% endif%}

    <br>
    <br>
    <br>
   
      {% if api%}
      <div class="jumbotron">
        <h1 class="display-4">Air Quality : {{api.0.AQI}}</h1>

      

        <table class="table">
           
            <tbody>
              <tr>
                <th scope="row">LocalTimeZone</th>
                <td>{{api.0.LocalTimeZone}}</td>
                <th scope="row">ReportingArea</th>
                <td>{{api.0.ReportingArea}}</td>
              </tr>
             
              <tr>
                <th scope="row">ReportingArea</th>
                <td>{{api.0.ReportingArea}}</td>
                <th scope="row">StateCode</th>
                <td>{{api.0.StateCode}}</td>
              </tr>
             
    
              <tr>
                <th scope="row">Latitude</th>
                <td>{{api.0.Latitude}}</td>
                <th scope="row">DateObserved</th>
                <td>{{api.0.DateObserved}}</td>
              </tr>
            
            
             
            </tbody>
          </table>
      </div>
      {% endif %}

</p>
{% endblock %}
